body {
    font-family: Script, Luckiest Guy;
    margin: 0;
}

nav {
    background-color: #100;
    padding: 20px;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
nav a {
    color: blue;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

h1, p {
    padding: 20px;
