body {
    font-family: Script, Luckiest Guy;
    margin: 0;
     background-color: blue;

}

nav {
    background-color: #2a52be;
    padding: 20px;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
nav a:hover {
    text-decoration: underline;
}

h1, p {
    padding: 20px;
